.sticky-icon {
  z-index: 1;
  position: fixed;
  top: 35%;
  left: 0%;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.sticky-icon a {
  transform: translate(-150px, 0px);
  text-align: center;
  margin: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  transition: all 0.8s;
}
.sticky-icon a:hover {
  color: #fff;
  transform: translate(-10px, 0px);
}

.Facebook {
  background-color: #0cce0c;
  color: #fff;
  border: none;
}
